:root {
    --primary-lighter: #ffffff;
    --primary-light: #efefef;
    --primary-dark: #282c34;
    --primary-darker: #1a1a1a;

    --border-light: #dddddd;
    --border-dark: #141414;

    --green-light: #99ef9c;
    --green-dark: #5ea860;

    --red-light: #ff6384;
    --red-dark: #a85f5e;

    --highlight-blue: #61dafb;
}