.alert {
    width: 100%;
    height: 0;
    bottom: -2em;
    z-index: 9999;

    overflow: hidden;
    pointer-events: none;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

    padding: 0;
    margin: 0;

    background-color: transparent;

    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.alert__content {
    min-width: min-content;
    max-width: 100%;
    height: 100%;

    pointer-events: all;

    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;

    padding: 0;
    margin: 0;

    background-color: var(--primary-dark);
    color: var(--primary-light);
}

.alert.show {
    animation: alert-slide-up .5s ease-out;
}

.alert.hide {
    animation: alert-slide-down .5s ease-in;
}

.alert__content > span {
    margin-left: 1em;

    display: inline-block;
    width: min-content;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-break: keep-all;
    padding: .5em;
}

.alert__content > i {
    padding: .5em;
}

.alert__content.alert-info > i {
    color: var(--green-light);
}

.alert__content.alert-error > i {
    color: var(--red-light);
}


@keyframes alert-slide-up {
    0% {
      height: 0;
    }
    100% {
      height: 2em;
    }
  }
  
  @keyframes alert-slide-down {
    0% {
      height: 2em;
    }
    100% {
      height: 0;
    }
  }
